/* main  */
main {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

h1 {
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    color: white;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1.3rem;
    color: black;
    background-color: aqua;
}

.fizzbuzz {
    background-color: rgb(190, 18, 210);
}

.buzz {
    background-color: yellow;
}

.fizz {
    background-color: green;
}
